<div class="row">
  <div class="col-xs-12">
    <img
      [src]="receipe.imagePath"
      alt="{{ receipe.name }}"
      class="img-responsive"
    />
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <h1>{{ receipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onToShoppingList(receipe.ingredients)">To shopping list</a></li>
        <li><a style="cursor: pointer;" [routerLink]="['/recipes/edit',receipe.id]"  >Edit recipe   </a></li>
        <li><a style="cursor: pointer;" (click)="OnDeleteRecipe()" > Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ receipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredients of receipe.ingredients"
      >
        {{ ingredients.name }}: {{ ingredients.amount }}
      </li>
    </ul>
  </div>
</div>
